In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [3]:
df.loc[df.AAA >= 5,'BBB'] = -1; df

   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   -1  -50

In [4]:
df.loc[df.AAA >= 5,['BBB','CCC']] = 555; df

   AAA  BBB  CCC
0    4   10  100
1    5  555  555
2    6  555  555
3    7  555  555

In [5]:
df.loc[df.AAA < 5,['BBB','CCC']] = 2000; df

   AAA   BBB   CCC
0    4  2000  2000
1    5   555   555
2    6   555   555
3    7   555   555

In [7]:
df_mask = pd.DataFrame({'AAA' : [True] * 4, 'BBB' : [False] * 4,'CCC' : [True,False] * 2})
df_mask

    AAA    BBB    CCC
0  True  False   True
1  True  False  False
2  True  False   True
3  True  False  False

In [8]:
df.where(df_mask,-1000)

   AAA   BBB   CCC
0    4 -1000  2000
1    5 -1000 -1000
2    6 -1000   555
3    7 -1000 -1000

In [9]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [10]:
df['logic'] = np.where(df['AAA'] > 5,'high','low')
df

   AAA  BBB  CCC logic
0    4   10  100   low
1    5   20   50   low
2    6   30  -30  high
3    7   40  -50  high

In [11]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [12]:
dflow = df[df.AAA <= 5]
dflow

   AAA  BBB  CCC
0    4   10  100
1    5   20   50

In [13]:
dfhigh = df[df.AAA > 5]
dfhigh

   AAA  BBB  CCC
2    6   30  -30
3    7   40  -50

In [14]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [15]:
newseries = df.loc[(df['BBB'] < 25) & (df['CCC'] >= -40), 'AAA']
newseries

0    4
1    5
Name: AAA, dtype: int64

In [16]:
newseries = df.loc[(df['BBB'] > 25) | (df['CCC'] >= -40), 'AAA']
newseries

0    4
1    5
2    6
3    7
Name: AAA, dtype: int64

In [17]:
df.loc[(df['BBB'] > 25) | (df['CCC'] >= 75), 'AAA'] = 0.1
df

   AAA  BBB  CCC
0  0.1   10  100
1  5.0   20   50
2  0.1   30  -30
3  0.1   40  -50

In [18]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [20]:
aValue = 43.0
print (df.CCC-aValue).abs().argsort()
df.loc[(df.CCC-aValue).abs().argsort()]

0    1
1    0
2    2
3    3
Name: CCC, dtype: int64

   AAA  BBB  CCC
1    5   20   50
0    4   10  100
2    6   30  -30
3    7   40  -50

In [21]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [22]:
Crit1 = df.AAA <= 5.5
Crit1

0     True
1     True
2    False
3    False
Name: AAA, dtype: bool

In [23]:
Crit2 = df.BBB == 10.0
Crit2

0     True
1    False
2    False
3    False
Name: BBB, dtype: bool

In [24]:
Crit3 = df.CCC > -40.0
Crit3

0     True
1     True
2     True
3    False
Name: CCC, dtype: bool

In [25]:
AllCrit = Crit1 & Crit2 & Crit3
AllCrit

0     True
1    False
2    False
3    False
dtype: bool

In [26]:
CritList = [Crit1,Crit2,Crit3]
CritList

[0     True
 1     True
 2    False
 3    False
 Name: AAA, dtype: bool, 0     True
 1    False
 2    False
 3    False
 Name: BBB, dtype: bool, 0     True
 1     True
 2     True
 3    False
 Name: CCC, dtype: bool]

In [27]:
AllCrit = functools.reduce(lambda x,y: x & y, CritList)
df[AllCrit]

NameError: name 'functools' is not defined